body { 
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#webmap1 {
    position: absolute;
    left:0px;
    top:0px;
    padding:0px;
    margin:0px;
    border:none;
}

#app {
    position: absolute;
    left:0px;
    top:0px;
}

.title {
    padding:10px;
    margin:0px; 
    color:#01547D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    display:inline-block;
}

  
.sidebar {
    grid-area: sidebar;
    background-color: #999;
}

.content {
    grid-area: content;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

.header {
    grid-area: header;
    background-color: #999;
}


.footer {
    grid-area: footer;
    background-color: #999;   
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


.wrapper {
    display: grid;
    grid-gap: 0px;
    grid-template-rows: 100px 1fr 200px;
    grid-template-columns: 0px 1fr;
    grid-template-areas:"header header  header"
                        "sidebar content content"
                        "sidebar footer footer";
    background-color: #fff;
    color: #444;
    width:100vw;
    height:100vh;
    margin:0;
    padding:0;
    overflow:hidden;
}
.box {
background-color: #444;
color: #fff;
border-radius: 5px;
padding: 20px;
font-size: 150%;
}


.mapwrapper{
    height:100%;
    width:100%;
    overflow:hidden;
}

.ReactWMJSLayer {
    width:100%;

    padding:2px;
    margin:0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,0.5);
    
    
    line-height:14px;
    font-size:10px;
    
    display:block;
    background:rgba(255,255,255,0.5);
    display:none;
}

.ReactWMJSLayerProps {
    position:absolute;
    overflow: hidden;
    display:block;
    padding:0;
    margin:0;
    z-index:100;
    
}

.ReactWMJSMapComponent{
    position:absolute;
    overflow: hidden;
    display:block;
    padding:0;
    margin:0;
    z-index:10;
}

.ReactWMJSLayerRowTimeBlock{
  z-index: 10000;
  cursor:pointer;
  display: inline-block;
  position: absolute;
}